<!DOCTYPE html>
<html>
  <head>
    <title>a simple pjax demo</title>
  </head>
  <body>
    <header>It's a pjax demo</header>
	<hr>
	<section>
		<h1>There is a doll:</h1>
		<img id="doll" src="images/<%= doll %>.gif">
		<button id="getDoll">Get new doll</button>
	</section>
	<hr>
	<footer>Author: <a href="http://www.linkgod.net" target="_blank">linkgod</a></footer>

	<script src="javascripts/main.js"></script>
  </body>
</html>